
.app-container {
  margin-bottom: 50px; 
  color: #F5F5F5;
}

h1, h2, h3 {
  margin-top: 20px;
}

/* Transition + légère rotation au survol */
.hover-rotate  {
  transition: transform 0.3s ease;
}

.hover-rotate:hover {
  transform: scale(1.05) rotate(2deg);
}

.text-white { 

  color: #F5F5F5;
}

.stat-number {

  color:orange;
}

.log-col {
  color:orange;
} 
/* Change la couleur de la navbar (header) */
.navbar-custom {
  background-color: orange !important; /* Un gris sombre, par exemple */
  /* color: #fff; <-- si vous voulez du texte blanc */
}

/* Bouton "Se connecter" */
.btn-se-connecter {
  background-color:black !important; /* Un orange/rouge */
  color: #fff !important;              /* Texte blanc */
  border: none !important;
}
.btn-se-connecter:hover {
  background-color:black !important; /* Un peu plus foncé au survol */
}

/* Bouton "Prendre rendez-vous" */
.btn-rendezvous {
  background-color: orange !important; /* Vert */
  color: #fff !important;
  border: none !important;
}
.btn-rendezvous:hover {
  background-color:orange !important; 
}  

.btn-profile {
  background-color: orange !important; /* Vert */
  color: #fff !important;
  border: none !important;
}
.btn-profile :hover {
  background-color:orange !important; 
} 

.nav-col
{
  color: black;
} 

.nav-coll
{
  color: orange;
}
